<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="../static/restablecer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Restablecer Contraseña</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}-message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            
        <form method="POST">
            <div class="form-group password-group">
                <i class="fas fa-lock icon"></i>
                <input type="password" name="nueva_contrasena" placeholder="Introduce tu nueva contraseña" id="nueva_contrasena" required>
                <i class="fas fa-eye toggle-password" id="togglePassword"></i>
            </div>            
            <button type="submit">Restablecer Contraseña</button>
        </form>

        <p><a href="{{ url_for('login') }}">Volver al inicio de sesión</a></p>
    </div>

    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('nueva_contrasena');

        if (togglePassword && passwordInput) {
            togglePassword.addEventListener('click', function () {
                const isPassword = passwordInput.type === 'password';
                passwordInput.type = isPassword ? 'text' : 'password';
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });
        }
    </script>
</body>
</html>